---
title: Verification
description: "Provision of objective evidence that a given item fulfils specified requirements."
tags:
- core
- to be approved
- calval ingest
- WGCV
- WGISS
---

# Verification

## 1 Definition

Provision of objective evidence that a given item fulfils specified requirements.

### Notes
- When applicable, measurement uncertainty should be taken into consideration.
- The item may be, e.g. a Process, measurement procedure, material, compound, or measuring system.
- The specified requirements may be, e.g. that a manufacturer's specifications are met.
- Verification should not be confused with Calibration. Not every verification is a Validation.

### Examples

### Sources
- ISO/IEC Guide 99:2007, 2.44

___

## 2 Definition

Evaluation of whether a product, service, or system complies with a regulation, specification, or imposed condition.

### Notes

### Examples

### Sources
- EU-US Land Imaging EO Collaboration

___

## 3 Definition

Evaluation of data reliability in the absence of a reference dataset, confirming consistency and internal coherence.

### Notes

### Examples

### Sources
- KCEO

___

## 4 Definition

Provision of objective evidence that specified requirements have been fulfilled.

### Notes

### Examples

### Sources

- (1) VIM/ISO:99 [ [RD18](https://www.bipm.org/en/publications/guides/vim.html) ]; (2) ISO:9000 [ [RD7](https://www.iso.org/standard/45481.html) ]; (3) CDRH [ [RD1](https://www.fda.gov/media/73141/download) ]
