---
title: Verification
tags:
- core
- to be approved
description: Provision of objective evidence that a given item fulfils specified requirements.
---

# Verification

## 1 Definition

Provision of objective evidence that a given item fulfils specified requirements.

### Notes
- When applicable, measurement uncertainty should be taken into consideration.
- The item may be, e.g. a Process, measurement procedure, material, compound, or measuring system.
- The specified requirements may be, e.g. that a manufacturer's specifications are met.
- Verification should not be confused with Calibration. Not every verification is a Validation.

### Examples

### Sources
- ISO/IEC Guide 99:2007, 2.44

___

## 2 Definition

Evaluation of whether or not a product, service, or system complies with a regulation requirement, specification, or imposed condition. Often an internal Process.

### Notes

### Examples

### Sources
- EU-US Land Imaging EO Collaboration

___

## 3 Definition

Means to evaluate the reliability of the data in the absence of a reference dataset, allowing for an assessment of its standalone performance. Involves confirming the consistency and internal coherence of the data without direct comparison to external reference sources.

### Notes

### Examples

### Sources
- KCEO
